Section: libs
Priority: optional

Package: libreadline6
Version: 6.0
Left: /lib/x86_64-linux-gnu/libreadline.so.7 /lib/x86_64-linux-gnu/libreadline.so.6
Description: fake libreadline6 for u1804 cause libreadline7 is installed

